.editor-container {
  font-size: 16px;
  font-family: monospace;
  outline: 1px solid #ccc;
  min-height: 200px;
  padding: 8px;
  color: #ccc;
}

.editor-line {
  min-height: 1.2rem;
  white-space: pre-wrap;
}

.cursor {
  display: inline-block;
  width: 2px;
  background: #fff;
  height: 1rem;
  vertical-align: middle;
  /* animation: blinker ls step-start infinite; */
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
